.main {
  max-height: 100dvh;
}

.title {
  padding: var(--mantine-spacing-xs);
}

.aside {
  position: fixed;
  height: calc(100dvh - calc(calc((var(--mantine-spacing-xs) * 2) + calc(var(--mantine-h1-font-size) * var(--mantine-h1-line-height)))));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--mantine-primary-color-light);
  transition: width 200ms;
  width: var(--search-navbar-width);
}

.grid {
  padding-inline-start: calc(var(--search-navbar-width) + var(--mantine-spacing-sm));
  padding-inline-end: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);
  min-height: 100dvh;
  transition: padding 200ms ease;
}

.card {
  justify-content: space-between;
}

.cardTitle {
  line-height: 1.25;
}

.imageWrapper {
  position: relative;
  height: 160px
}

.image {
  object-fit: cover;
}

.small {
  display: flex;
  gap: calc(var(--mantine-spacing-xs)/2)
}