.main {
  max-height: 100vh;
}

.open {
  width: auto
}

.close {}

.accordion,
.item,
.panel,
.content,
.grid {
  max-height: inherit;
}

.item {
  overflow: scroll;
}

.title {
  padding: var(--mantine-spacing-xs);
}

.card {
  justify-content: space-between;
}

.imageWrapper {
  position: relative;
  height: 260px
}

.image {
  object-fit: cover;
}

.time {
  gap: calc(var(--mantine-spacing-xs)/2)
}