.main {
  max-height: 100dvh;
  --title-font-size: var(--mantine-h4-font-size);
  @media (max-width: $mantine-breakpoint-xs) {
    --title-font-size: var(--mantine-h3-font-size);
  }
  --title-height: calc(var(--title-font-size) * var(--mantine-h4-line-height));
  --search-navbar-width: calc((var(--mantine-spacing-sm) * 2) + 36px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mantine-spacing-xs);
  gap: var(--mantine-spacing-xs);
}

.title {
  display: flex;
  align-items: center;
  font-size: var(--title-font-size);

  svg {
    width: var(--title-font-size);
    height: var(--title-font-size);
  }
}

.titleLink {
  color: var(--mantine-color-text);
}

.searchWrapper {
  overflow: hidden;
}
.searchWrapperActive {
  border-right: 1px solid var(--mantine-color-gray-4);
  border-radius: var(--mantine-radius-default);
}

.aside {
  position: fixed;
  height: calc(
    100dvh - calc(calc(var(--mantine-spacing-xs) * 2) + var(--title-height))
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--mantine-primary-color-light);
  transition: width 200ms;
  width: var(--search-navbar-width);
}

.grid {
  padding-inline-start: calc(
    var(--search-navbar-width) + var(--mantine-spacing-sm)
  );
  padding-inline-end: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);
  min-height: 100dvh;
  transition: padding 200ms ease;
}

.card {
  justify-content: space-between;
}

.cardTitle {
  line-height: 1.25;
}

.imageWrapper {
  position: relative;
  height: 160px;
}

.image {
  object-fit: cover;
}

.small {
  display: flex;
  gap: calc(var(--mantine-spacing-xs) / 2);
}
